body {
    margin: 0px;
}
.top-bar {
    background-color: #000;
   overflow: hidden;
}
li {
    color: #fff;
    list-style: none;
    display: inline-block;
    padding-left: 30px;
}
ul.top-menu {
    font-size: 13px;
    margin: 17px;
}
a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
}
.logo-image {
    text-align: center;
    margin: 30px;
}
.secondary-bar {
    border: 1px solid #CCC;
}
ul.main-menu {
    text-align: center;
}
.main-menu a {
    color: #000;
}
.container {
    background-color: #f3f3f3;
    padding: 50px;
    text-align: center;
}
.blog-item {
	 background-color: #fff;
	 width: 360px;
	 display: inline-block;
	 margin-right: 10px;
}
.blog-item img {
    max-width: 100%;
    display: block;
}
.blog-content {
    overflow: hidden;
    padding: 15px;
}